<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Big Number Display</name>
        <version>1.0</version>
        <author>Gemini Developer</author>
        <id>bignumber</id>
    </information>
    <menus>
        <menu type="json" dynamic="false">menu.json</menu>
    </menus>
</extension>
